.layout{
  padding-top: 2rem;
  width: 100%;
  background-color: rgb(17, 185, 101);
}
a{
  color: white;
  text-decoration: none;
}
.yuli{
  display: flex; align-items: center; justify-content: center; gap: 10rem;
}